* {

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

.mainContainer {

    border: solid red 2px;
    background-color: rgba(88, 211, 247, .8);
    padding: 10px;
    height: 588px;

}

.heading {
    border: dashed green 2px;
    background-color: rgba(90,174,248, .7);
    margin: 5px;
    min-height: 50px;
    /*overflow: hidden;*/
}

.select {
    border: dashed orange 2px;
    background-color: rgba(182, 90, 248, .7); /*magenta*/
    margin: 5px;
}

.category {
    border: dashed black 2px;
    background-color: rgba(127, 90, 248, .8); /*purple*/
    height: 20px;
    display: inline-block;
    height: 30px;
    margin: 5px;
    float: left;
}

#type {
    width: 100px;
    margin: 5px;

}

.user {
    border: dashed black 2px;
    display: inline-block;
    float: right;
    width: 298px;
    height: 30px;
    margin: 5px;
  
}

#register {

    display: inline-block;
    float: right;
    margin: 10px;
}

.userName {
    color: white;
    border: solid black 1px;
    padding: 2px;
    margin: 5px;

}

nav {
    display: inline-block;
    margin: 5px;
}

.results {
    border: dashed navy 1px;
    margin: 5px;
    overflow: hidden;
}

.results img {

    width: 60%;
    height: 450px;
    margin: 15px;
    border: solid navy 2px;
    float: left;
    clear: left;
}

table {
    display: inline-block;
    border: solid navy 2px;
    margin: 30px;
    float: right;
    clear: right;
}

td, tr {
    background-color: #eee;
    margin: 10px;
    width: 30%;
    text-align: center;
    margin: 5px;
}

.toggler { 
    width: 500px; 
    height: 200px; 
}
  .logIn { 
    display:inline-block;
    float: right;
}
  #effect { 
    width: 240px; 
    height: 135px; 
    padding: 0.4em; 
    position: relative; 
}
  #effect h3 { 
    margin: 0; 
    padding: 0.4em; 
    text-align: center; 
}

.toggle {
    width: 100px;
    height: 150px;
    background: #ccc;
    margin-right: 20px;
}
