* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*.buttons {
    border: 2px solid navy;
    display: inline;
    float: right;
    width: 200px;
    position: relative;
}*/


.err {
    color: red;
    font-weight: bold; 
}

.mainContainer {
    /*border: solid red 2px;*/
    background-color: rgba(88, 211, 247, .8);
    padding: 10px;
    width:100%;
    height: 625px;
    position: relative;
    margin: auto;
}

.heading {
    border: dashed green 2px;
    background-color: rgba(90,174,248, .7);
    margin: 5px;
    width: 100%;
    min-height: 50px;
    position: relative;
    /*overflow: hidden;*/
}

@font-face {
    font-family: avocado;
    src: url(pehuensito.ttf);
}

.logo {
    float: left;
    padding: 5px;
    margin-left: 10px;
    font-family: avocado;
    font-size: 32px;
    color: white;
    text-shadow: 1px 1px 1px #2D0DFF;
}
.select {
    border: dashed orange 2px;
    background-color: rgba(182, 90, 248, .7); /*magenta*/
    margin: 5px;
}

.category {
    border: dashed black 2px;
    background-color: rgba(127, 90, 248, .8); /*purple*/
    display: inline-block;
    margin: 5px;
    float: left;
}

#type {
    height: 30px;
    width: 100px;
    margin: 5px;
}

.zip {
    height: 20px;
    border-radius: 10px;
}

.user {
    border: dashed black 2px;
    display: inline-block;
    float: right;
    width: 298px;
    height: 30px;
    margin: 5px;
  
}

#logIn { 
    display:inline-block;
    float: right;
    margin: 5px;
}

button {
    padding: 5px;
    border-radius: 10px;
    background-color: #eee;
    font-weight: bold;
    font-family: verdana;

}
.logIn {
    height: 30px;
    width:65px;
    position: absolute;
    right: 80px;
}

.logToggle {
    width: 100px;
    height: 100px;
    background: #ccc;
    margin-right: 100px;
    margin-top: 30px;
    position: relative;
    z-index: 1000;
}

#register {

    display: inline-block;
    float: right;
    margin: 5px;
    /*clear: right;*/
}

.register {
    height: 30px;
    width:65px;
    position: absolute;
    right: 10px;
}

.logOut {
    height: 30px;
    width:65px;
    position: absolute;
    right: 80px;
}

.welcome {
    position: absolute;
    top: 30px;
    right: 50px;
    color: white;
}

.toggle {
    width: 100px;
    height: 150px;
    background: #ccc;
    margin-right: 20px;
    margin-top: 30px;
    position: relative;
    z-index: 1000;
}
.userName {
    color: white;
    border: solid black 1px;
    padding: 2px;
    margin: 5px;

}

nav {
    display: inline-block;
    margin: 5px;
}

.results {
    width:100%;
    border: dashed navy 1px;
    margin: 5px;
    position: absolute;
    z-index: 1;
}

#map_div {
    width:100%;
    max-width: 650px;
    height: 450px;
    margin: 15px;
    border: solid navy 2px;
    float: left;
    clear: left;
}

table {
    background-color: #ddd;
    display: inline-block;
    border: solid navy 2px;
    margin-top: 15px;
    float: left;
}

th{
    padding:2px;
}

td, tr {
    background-color: #eee;
    margin: 10px;
    width: 40%;
    text-align: center;
    margin: 5px;
}

.pac-icon{
    background-image: none;

}


